$warning: #ff9500;
$warninghover: #ffb753;
$namecolor :#FF7B00;
$typewordcolor: #FF9500;
$dark : #212529;
$white: #fff;
$radius: linear-gradient(to right, #1e9600, #fff200, #ff0000);
$navbar-toggler-focus-width: 0px;
$dark-emphasis : #141414,