$warning: #00b4d8;
$warninghover: #48cae4;
$namecolor :#48cae4;
$typewordcolor: #0077b6;
$dark : #1f242d;
$secondary : #323946;
$white: #fff;
$navbar-toggler-focus-width: 0px;
$dark-emphasis : #141414,