.footer {
    .ico {
        gap: 15px;
        display: flex !important;
        align-items: center !important;
        justify-content: center !important;
        
        a {
            display: flex !important;
            align-items: center !important;
            justify-content: center !important;
            color: #fff !important;
            text-decoration: none !important;
            padding: 7px 8px;
            border: 2px solid $warning;
            border-radius: 999px !important;
            transition: color 0.3s !important;

            i {
                font-size: 20px;
            }
        }

        a:hover {
            background-color: $warning !important;
        }
    }
}

@media only screen and (max-width: 400px) {
    .footer {
        p {
            font-size: 10px;
        }

    }
}