
.fa-facebook:hover{
    color: #0c4892;
    background-color: #fff;
    border-radius: 5px;
}
.fa-youtube:hover{
    color: #b80a0a;
    background-color: #fff;
    border-radius: 5px;
    
}
.fa-instagram:hover{
    background: linear-gradient(to right, #833ab4, #fd1d1d, #fcb045);
    color: #fff;
    border-radius: 5px;
}
.fa-github:hover{
    color: #000000;
    background-color: #fff;
    border-radius: 5px;
}
.fa-twitter:hover{
    color: rgb(77, 166, 214);
    background-color: #fff;
    border-radius: 5px;
}
.fa-linkedin:hover{
    color: #0A66C2;
    background-color: #fff;
    border-radius: 2px;
}


@media only screen and (max-width: 400px) {
    .footer{
        p{
            font-size: 10px;
        }
        
    }
}