Main{
    .form{
        
        i{
            font-size: 5rem;
        }
        .fa-square-whatsapp{
            color: green;
        }
        .fa-envelope{
            color: rgb(187, 120, 4);
        }
        .fa-location-dot{
            color: rgb(190, 12, 12);
        }
    }
}